{% extends 'includes/layout.twig' %}
{% set selected = 'admin_addtest' %}
{% set mode = 'dark' %}
{% set title = 'Add Test' %}

{% block head %}


{% endblock %}

{% block main %}
    <form class="container" action="/admin/add-test" method="post">
        <div class="row">
            <div class="col text-center">
                <h1 class="mt-5">Add Test</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="testName" class="form-label">Test Name</label>
                <input type="text" class="form-control" id="testName" name="testName" placeholder="Test name">
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <div class="row">
                    <div class="col-md-8 text-center align-self-center">
                        <label for="testReagents-0" class="form-label">Test Reagents</label>
                    </div>
                    <div class="col-md-4 p-3 text-center">
                        <div class="btn-group" role="group">
                            <button class="btn btn-{{ mode }}" type="button" onclick="clone('testReagents')">+</button>
                            <button class="btn btn-{{ mode }}" type="button" onclick="delLast('testReagents')">-</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col" id="reagentsList">
                        <input type="text" class="form-control mb-2" id="testReagents-0" name="testReagents-0"
                               placeholder="Reaction reagent">
                    </div>
                </div>

            </div>
            <div class="col-sm">
                <div class="row">
                    <div class="col-md-8 text-center align-self-center">
                        <label for="testConditions-0" class="form-label">Test Conditions</label>
                    </div>
                    <div class="col-md-4 p-3 text-center">
                        <div class="btn-group" role="group">
                            <button class="btn btn-{{ mode }}" type="button" onclick="clone('testConditions')">+</button>
                            <button class="btn btn-{{ mode }}" type="button" onclick="delLast('testConditions')">-</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col" id="conditionsList">
                        <input type="text" class="form-control mb-2" id="testConditions-0" name="testConditions-0"
                               placeholder="Test condition">
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-lg">
                <div class="row">
                    <div class="col-md-8 text-center align-self-center">
                        <label for="testReactants-0" class="form-label">Reactants</label>
                    </div>
                    <div class="col-md-4 p-3 text-center">
                        <div class="btn-group" role="group">
                            <button class="btn btn-{{ mode }}" type="button" onclick="clone('testReactants')">+</button>
                            <button class="btn btn-{{ mode }}" type="button" onclick="delLast('testReactants')">-</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col" id="reagentsList">
                        <input type="text" class="form-control mb-2" id="testReactants-0" name="testReactants-0"
                               placeholder="Reactant">
                    </div>
                </div>
            </div>
            <div class="col-lg">
                <div class="row">
                    <div class="col-md-8 text-center align-self-center">
                        <label for="testProducts-0">Products</label>
                    </div>
                    <div class="col-md-4 p-3 text-center">
                        <div class="btn-group" role="group">
                            <button class="btn btn-{{ mode }}" type="button" onclick="clone('testProducts')">+</button>
                            <button class="btn btn-{{ mode }}" type="button" onclick="delLast('testProducts')">-</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col" id="reagentsList">
                        <input type="text" class="form-control mb-2" id="testProducts-0" name="testProducts-0"
                               placeholder="Product">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg">
                <label for="positiveOutcome" class="form-label">Positive Outcome</label>
                <input type="text" class="form-control" id="positiveOutcome" name="positiveOutcome" placeholder="Positive Outcome">
            </div>
            <div class="col-lg">
                <label for="negativeOutcome" class="form-label">Negative Outcome</label>
                <input type="text" class="form-control" id="negativeOutcome" name="negativeOutcome" placeholder="Negative Outcome">
            </div>
        </div>
        <div class="row mt-5">
            <div class="col text-center">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </div>
    </form>
{% endblock %}

{% block js %}
    <script>
        function clone(startingIdOfInputToClone) {
            let $da_thing = $(`input[id^=${startingIdOfInputToClone}]:last`);
            let num = parseInt($da_thing.prop("id").match(/\d+/g), 10) +1;
            let $clone = $da_thing.clone().prop('id', `${startingIdOfInputToClone}-${num}`);
            $clone.prop('name', `${startingIdOfInputToClone}-${num}`)
            $da_thing.after($clone);
        }

        function delLast(startingIdOfInputToDel) {
            let $dae = $(`input[id^=${startingIdOfInputToDel}]`).last();
            if ($dae.parent().children().length > 1) {
                $dae.remove();
            }
        }

    </script>
{% endblock %}