{% extends 'includes/layout.twig' %}
{% set selected = 'distinguishingtests_list' %}
{% set mode = 'dark' %}
{% set title = 'List of distinguishing tests' %}

{% block head %}

{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-center">All Distinguishing tests</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <h5 class="text-left" style="display: inline">Sort criteria > </h5>
                <div class="btn-group" role="group">
                    <input type="radio" class="btn-check" name="btnradio" id="testName-sort" autocomplete="off"
                           {% if sortBy == "abc" %}checked{% endif %}
                           onclick="window.location.href = '/distinguishing-tests/list/abc-{{ sortOrder }}'">
                    <label class="btn btn-outline-info" for="testName-sort">Name</label>

{#                    <input type="radio" class="btn-check" name="btnradio" id="testType-sort" autocomplete="off"#}
{#                           {% if sortBy == "type" %}checked{% endif %}#}
{#                           onclick="window.location.href = '/organic/distinguishing-tests/list/type-{{ sortOrder }}'">#}
{#                    <label class="btn btn-outline-info" for="testType-sort">Type</label>#}

                    <input type="radio" class="btn-check" name="btnradio" id="testReagent-sort" autocomplete="off">
                    <label class="btn btn-outline-info" for="testReagent-sort">Reagent</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="btn-group" role="group">
                    <input type="radio" class="btn-check" name="btnradio1" id="sort-asc" autocomplete="off"
                           {% if sortOrder == "asc" %}checked{% endif %}
                           onclick="window.location.href = '/distinguishing-tests/list/{{ sortBy }}-asc'">
                    <label class="btn btn-outline-primary" for="sort-asc">&#9650;</label>

                    <input type="radio" class="btn-check" name="btnradio1" id="sort-dsc" autocomplete="off"
                           {% if sortOrder == "dsc" %}checked{% endif %}
                           onclick="window.location.href = '/distinguishing-tests/list/{{ sortBy }}-dsc'">
                    <label class="btn btn-outline-primary" for="sort-dsc">&#9660;</label>
                </div>
                <h5 class="text-right" style="display: inline">Sort Order</h5>
            </div>

        </div>
        <div class="row mt-3">
            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Test Name</th>
                            <th scope="col">Reagents</th>
                            <th scope="col">Conditions</th>
                            <th scope="col">View Test</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for test in result %}
                        <tr>
                            <th>{{ test.name }}</th>
                            <th>
                                <ul>
                                    {% for reagent in test.reagents %}
                                        <li>{{ reagent }}</li>
                                    {% endfor %}
                                </ul>

                            </th>
                            <th>
                                <ul>
                                    {% for cond in test.conditions %}
                                        <li>{{ cond }}</li>
                                    {% endfor %}
                                </ul>

                            </th>
                            <th>
                                <button class="btn btn-success"
                                        onclick="window.open('/distinguishing-tests/test/{{ rxn['_id'] }}', '_blank')">
                                    View Test
                                </button>
                            </th>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}